@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;/*faz algo cobrir a tela toda em height*/
    width: 100vw;/*faz algo cobrir a tela toda em width*/
    background-color: black;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

/*deixe as caixas, contando com o body com cores no background para separar bem*/

section#telefone {
    position: absolute;
    /*a posição absoluta permite que voce mude o top, left, right e bottom*/
    top: 50%;
    /*move o ponto esquerdo superior para 50% do topo pra baixo*/
    left: 50%;
    /*move o ponto esquerdo superior para 50% da esquerda para a direita*/
    transform: translate(-50%, -50%);
    /*-50% no top e no left*/
    height: 627px;
    width: 311px;
    /*Use o Gimp para ver o tamanho certo da imagem*/
    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela {
    /*Qunado quero só mudar a posição e não distanciar de algo, usa isso*/
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.408);
    box-sizing: border-box;/* tira a sensação de movimentação*/ 
}

section#redes-sociais img:hover {
    transition: transform 0.2s, border 0.2s;/*voce escolhe para quem quer a transição e quanto tempo dura*/
    border: 2px solid rgba(255, 255, 255, 0.647);/* da uma sensação de movimentação pois a borda ocupa espaço aparecendo e sumindo */
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.562);
}